[Desktop Entry]
Name=cbatticon
Comment=Show battery information in the system tray
Exec=cbatticon -n -c notify-battery -l 20 -r 5 -x "terminal -hold -e cat /sys/class/power_supply/BAT0/uevent"
Type=Application
